<app-header-app></app-header-app>

  <section class="container-app">
      
    <div class="d-flex w-100 justify-content-between breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">MENU</li>
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
        </ol>
    </div>
    <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEdicion" (click)="editar(person)">Editar</button> -->
    <div class="row" style="padding:2%; width: 100%;">
      <div class="col-6 col-md-2 padding-card">

      </div>
      <div class="col-6 col-md-4 padding-card"  data-toggle="modal" data-target="#modalEdicion" (click)="cargarDatosInstitucion()">
        <div class="card" style="cursor: pointer;">
          <!-- <img class="card-img-top" src="./assets/img/user.png" alt="Card image cap"> -->
          <i class="fa fa-shopping-cart fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Institución</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card" data-toggle="modal" data-target="#modalEdicionParam">
        <div class="card" style="cursor: pointer;color:#a3a8a3">
          <i class="fa fa-users fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Parametros</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2 padding-card">

      </div>
    </div>
  
  </section>
  <!-- aca los modals -->
  <!-- Modal institucion -->
<div class="modal fade" id="modalEdicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificando mi Institución</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- contenido del formulario -->
        <div class="col-md-12 ">
          <form [formGroup]="forma">
            <p style="font-style: italic;font-weight: bold;">
              Lo elementos indicados con un (*) son obligatorios.
            </p>
            <!-- primera fila-->
            <div class="form-row mb-3">
              <div class="input-group-md col-md-3">
                <label for="inputRut">Rut (*)</label>
                <input type="text" class="form-control" id="inputRut" placeholder="Rut"
                  formControlName="nuevoRut" maxlength="9">
              </div>
              <div class="input-group-md col-md-1">
                <label for="inputDig">DV (*)</label>
                <input type="text" class="form-control" id="inputDig" placeholder=""
                  formControlName="nuevoDig" (keydown)="this.utiles.UpperCaseF($event)" maxlength="1">
              </div>
              <div class="input-group-md col-md-8">
                <label for="inputNombre">Nombres (*)</label>
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombres"
                  formControlName="nuevoNombre" maxlength="250">
              </div>
            </div>
            <!-- segunda fila-->
            <div class="form-row mb-3">
              <div class="input-group-md col-md-3">
                <label for="inputRegion1">Región (*)</label>
                <select (change)="onChangeRegion($event)" class="custom-select" class="form-control" id="inputRegion1"
                  formControlName="nuevoRegion">
                  <option *ngFor="let v of listaRegiones;" [value]="v.Nombre">{{v.Nombre}}</option>
                </select>
              </div>
              <div class="input-group-md col-md-3">
                <label for="inputComuna">Comuna (*)</label>
                <select class="custom-select" class="form-control" id="inputComuna" formControlName="nuevoComuna">
                  <option *ngFor="let r of listaComunas;" [value]="r.Nombre">{{r.Nombre}}</option>
                </select>
              </div>
              <div class="input-group-md col-md-6">
                <label for="inputDireccion">Dirección (*)</label>
                <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección"
                  formControlName="nuevoDireccion" maxlength="250">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-6">
                
                <label for="inputGiro">Giro (*)</label>
                <input class="form-control" id="inputGiro" list="listaGirosStr" formControlName="nuevoGiro" name="lista"/>
                <datalist id="listaGirosStr">
                  <option *ngFor="let item of listaGirosStr" [value]="item">{{item}}</option>
               </datalist>
              </div>
              <div class="input-group-md col-md-4">
                <label for="inputCorreo">Correo (*)</label>
                <input type="text" class="form-control" id="inputCorreo" formControlName="nuevoCorreo" placeholder="Correo" maxlength="250">
              </div>          
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-6">
                <label for="inputTelefonos">Teléfono (*)</label>
                <input type="text" class="form-control" id="inputTelefonos" formControlName="nuevoTelefonos" maxlength="12">
              </div>
              <div class="input-group-md col-md-6">
                <label for="inputFax">Fax</label>
                <input type="text" class="form-control" id="inputFax" formControlName="nuevoFax" maxlength="12">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-6">
                <label for="inputTitulo">Titulo (*)</label>
                <input type="text" class="form-control" id="inputTitulo" formControlName="nuevoTitulo" maxlength="250">
              </div>
              <div class="input-group-md col-md-6">
                <label for="inputSubtitulo">Subtitulo (*)</label>
                <input type="text" class="form-control" id="inputSubtitulo" formControlName="nuevoSubtitulo" maxlength="250">
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row" style="width: 100%;">
          <div class="col-4 text-left">
            
          </div>
          <div class="col-8 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="guardarInstitucion()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- div para editar los parametros -->
<div class="modal fade" id="modalEdicionParam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelParam" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificando mis Parametros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-style: italic;font-weight: bold;">
          Lo elementos indicados con un (*) son obligatorios.
        </p>
        <!-- contenido del formulario -->
        <div class="col-md-12 ">
          <form [formGroup]="formaParam">
            <div class="card col-md-12">
              <div class="card-header">
                <legend>IVA</legend>
              </div>

              <div class="form-row mb-3" style="padding-left: 15px;">
                <div class="input-group-md col-md-5" style="padding-top: 15px;">
                  <label for="inputIVA">Nuevo IVA (*)</label>
                  <input type="number" class="form-control" id="inputIVA" placeholder="0"
                    formControlName="nuevoIVA" min="0" max="100" style="font-size: 2rem;" required>
                    <p style="font-style: italic;font-weight: bold;">
                      Importante: La modificación del IVA afectará a todo el Sistema de Facturación, modifique este parámetro con mucha atención.
                    </p>
                </div>
                <div class="input-group-md col-md-1">
                  <!-- vacia -->
                </div>
                <div class="input-group-md col-md-6">
                  <legend>Historial de IVA SII</legend>
                  <ul class="list-group" *ngFor="let iva of this.listaIvas">
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">
                      {{iva.Desde}} - {{iva.Hasta}}
                      <span class="badge badge-primary badge-pill" style="font-size: 1.4rem;">{{iva.Valor}}%</span>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="row" style="padding-top: 15px;">
              <div class="card col-md-6">
                <div class="card-header">
                  <legend>Número Documento</legend>
                </div>              
                <div class="form-row mb-3" style="padding-left: 15px;">
                  <div class="input-group-md col-md-12" style="padding-top: 15px;">
                    <label for="inputNumeroDocumento">Nuevo número documento (*)</label>
                    <input type="number" class="form-control" id="inputNumeroDocumento" placeholder="0"
                      formControlName="nuevoNumeroDocumento" min="0" max="100" style="font-size: 2rem;" disabled="true">
                      <p style="font-style: italic;font-weight: bold;">
                        Importante: Por seguridad este elemento no puede ser modificado, si tiene que asignar un número correlativo distinto contacte al Administrador.
                      </p>
                  </div>
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-header">
                  <legend>Stock Mínimos</legend>
                </div>
                <div class="form-row mb-3">
                  <div class="input-group-md col-md-6" style="padding-top: 15px;">
                    <label for="inputStockMinimoCantidad">Stock minimo cantidad (*)</label>
                    <input type="number" class="form-control" id="inputStockMinimoCantidad" placeholder="0"
                      formControlName="nuevoStockMinimoCantidad" min="0" max="100" style="font-size: 2rem;">
                      <p style="font-style: italic;font-weight: bold;">
                        Importante: Este valor indica el stock mínimo que se usará para alertar los productos (cantidad).
                      </p>
                  </div>
                  <div class="input-group-md col-md-6" style="padding-top: 15px;">
                    <label for="inputStockMinimoCantidad">Stock minimo metros (*)</label>
                    <input type="number" class="form-control" id="inputStockMinimoMetros" placeholder="0"
                      formControlName="nuevoStockMinimoMetros" min="0" max="100" style="font-size: 2rem;">
                      <p style="font-style: italic;font-weight: bold;">
                        Importante: Este valor indica el stock mínimo que se usará para alertar los productos (M3).
                      </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- primera fila
            <div class="form-row mb-3">
              <div class="input-group-md col-md-3">
                <label for="inputRut">Rut</label>
                <input type="text" class="form-control" id="inputRut" placeholder="Rut"
                  formControlName="nuevoRut" maxlength="9">
              </div>
              <div class="input-group-md col-md-1">
                <label for="inputDig">DV</label>
                <input type="text" class="form-control" id="inputDig" placeholder=""
                  formControlName="nuevoDig" (keydown)="this.utiles.UpperCaseF($event)" maxlength="1">
              </div>
              <div class="input-group-md col-md-8">
                <label for="inputNombre">Nombres</label>
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombres"
                  formControlName="nuevoNombre" maxlength="250">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-3">
                <label for="inputRegion1">Región</label>
                <select (change)="onChangeRegion($event)" class="custom-select" class="form-control" id="inputRegion1"
                  formControlName="nuevoRegion">
                  <option *ngFor="let v of listaRegiones;" [value]="v.Nombre">{{v.Nombre}}</option>
                </select>
              </div>
              <div class="input-group-md col-md-3">
                <label for="inputComuna">Comuna</label>
                <select class="custom-select" class="form-control" id="inputComuna" formControlName="nuevoComuna">
                  <option *ngFor="let r of listaComunas;" [value]="r.Nombre">{{r.Nombre}}</option>
                </select>
              </div>
              <div class="input-group-md col-md-6">
                <label for="inputDireccion">Dirección</label>
                <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección"
                  formControlName="nuevoDireccion" maxlength="250">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-6">
                
                <label for="inputGiro">Giro</label>
                <input class="form-control" id="inputGiro" list="listaGirosStr" formControlName="nuevoGiro" name="lista"/>
                <datalist id="listaGirosStr">
                  <option *ngFor="let item of listaGirosStr" [value]="item">{{item}}</option>
               </datalist>
              </div>
              <div class="input-group-md col-md-4">
                <label for="inputCorreo">Correo</label>
                <input type="text" class="form-control" id="inputCorreo" formControlName="nuevoCorreo" placeholder="Correo" maxlength="250">
              </div>          
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-6">
                <label for="inputTelefonos">Teléfono</label>
                <input type="text" class="form-control" id="inputTelefonos" formControlName="nuevoTelefonos" maxlength="12">
              </div>
              <div class="input-group-md col-md-6">
                <label for="inputFax">Fax</label>
                <input type="text" class="form-control" id="inputFax" formControlName="nuevoFax" maxlength="12">
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="input-group-md col-md-6">
                <label for="inputTitulo">Titulo</label>
                <input type="text" class="form-control" id="inputTitulo" formControlName="nuevoTitulo" maxlength="250">
              </div>
              <div class="input-group-md col-md-6">
                <label for="inputSubtitulo">Subtitulo</label>
                <input type="text" class="form-control" id="inputSubtitulo" formControlName="nuevoSubtitulo" maxlength="250">
              </div>
            </div>-->
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row" style="width: 100%;">
          <div class="col-4 text-left">
            
          </div>
          <div class="col-8 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" style="margin-left: 10px;" (click)="guardarParametros()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


