<app-header-app></app-header-app>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<section class="container-app">
    <div class="d-flex w-100 justify-content-between breadcrumb" style="padding-bottom: 0;margin-bottom: 0;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">MENU</li>
            <li class="breadcrumb-item active" aria-current="page">Venta</li>
        </ol>
    </div>
<!-- contenido -->
<div class="grid" style="padding-top:0;padding-left: 20px;padding-right: 20px;">
   
        <div class="jumbotron jumbotron-fluid" style="padding: 1rem;">
            <div class="container">

                <!-- aca armamos el formulario -->
                <!-- DTAOS DEL CLIENTE -->
                <h1 class="display-5" style="font-size: 1.6rem; cursor:pointer;" 
                    data-toggle="collapse" title="Mostrar/Ocultar"  
                    href="#multiCollapseExample1" aria-expanded="true" 
                    aria-controls="multiCollapseExample1">Cliente ...</h1>
                <div class="collapse multi-collapse show" id="multiCollapseExample1">
                    <form [formGroup]="forma">
                        <!-- primera fila-->
                        <div class="form-row mb-3">
                            <!-- RUT -->
                            <div class="input-group-md col-md-2">
                                <label for="inputRut">Rut</label>
                                <input type="text" class="form-control" id="inputRut" placeholder="Rut" formControlName="nuevoRut"
                                    maxlength="9">
                            </div>
                            <!-- DV -->
                            <div class="input-group-md col-md-1">
                                <label for="inputDig">DV</label>
                                <input type="text" class="form-control" id="inputDig" placeholder="" formControlName="nuevoDig"
                                    (keydown)="this.utiles.UpperCaseF($event)" (keydown.enter)="keyDowEnter($event)" maxlength="1"
                                    (focusout)="keyDowEnter($event)">
                            </div>
                            <!-- NOMBRES -->
                            <div class="input-group-md col-md-3">
                                <label for="inputNombre">Nombres</label>
                                <input type="text" class="form-control" id="inputNombre" placeholder="Nombres" formControlName="nuevoNombre"
                                    (keydown)="this.utiles.UpperCaseF($event)" maxlength="200">
                            </div>
                            <!-- REGION -->
                            <div class="input-group-md col-md-3">
                                <label for="inputRegion1">Región</label>
                                <select (change)="onChangeRegion($event)" class="custom-select" class="form-control" id="inputRegion1"
                                    formControlName="nuevoRegion">
                                    <option *ngFor="let v of listaRegiones;" [value]="v.Nombre">{{v.Nombre}}</option>
                                </select>
                            </div>
                            <!-- COMUNA -->
                            <div class="input-group-md col-md-3">
                                <label for="inputComuna">Comuna</label>
                                <select class="custom-select" class="form-control" id="inputComuna" formControlName="nuevoComuna">
                                    <option *ngFor="let r of listaComunas;" [value]="r.Nombre">{{r.Nombre}}</option>
                                </select>
                            </div>
                            <!-- DIRECCION -->
                            <div class="input-group-md col-md-5">
                                <label for="inputDireccion">Dirección</label>
                                <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección"
                                    formControlName="nuevoDireccion" (keydown)="this.utiles.UpperCaseF($event)" maxlength="250">
                            </div>
                            <!-- GIRO -->
                            <div class="input-group-md col-md-3">
                    
                                <label for="inputGiro">Giro</label>
                                <input class="form-control" id="inputGiro" list="listaGirosStr" formControlName="nuevoGiro" name="lista" />
                                <datalist id="listaGirosStr">
                                    <option *ngFor="let item of listaGirosStr" [value]="item">{{item}}</option>
                                </datalist>
                            </div>
                            <!-- CORREO -->
                            <div class="input-group-md col-md-4">
                                <label for="inputCorreo">Correo</label>
                                <input type="text" class="form-control" id="inputCorreo" formControlName="nuevoCorreo" placeholder="Correo"
                                    (keydown)="this.utiles.UpperCaseF($event)" maxlength="250">
                            </div>
                            <!-- TELEFONOS -->
                            <div class="input-group-md col-md-3">
                                <label for="inputTelefonos">Teléfono</label>
                                <input type="text" class="form-control" id="inputTelefonos" formControlName="nuevoTelefonos" maxlength="12">
                            </div>
                            <!-- FAX -->
                            <div class="input-group-md col-md-2">
                                <label for="inputFax">Fax</label>
                                <input type="text" class="form-control" id="inputFax" formControlName="nuevoFax" maxlength="12">
                            </div>
                            <div class="input-group-md col-md-2">
                                <label for="inputFleteLocal">Flete Local</label>
                                <input type="number" class="form-control" id="inputFleteLocal" formControlName="nuevoFleteLocal" min="0"
                                    max="100000">
                            </div>
                            <div class="input-group-md col-md-3">
                                <label for="inputFleteDomicilio">Flete Domicilio</label>
                                <input type="number" class="form-control" id="inputFleteDomicilio" formControlName="nuevoFleteDomicilio"
                                    min="0" max="200000">
                            </div>
                            <div class="input-group-md col-md-2">
                                <label for="inputDescuento">Descuento %</label>
                                <input type="number" class="form-control" id="inputDescuento" formControlName="nuevoDescuento"
                                    placeholder="Descuento" min="0" max="100">
                            </div>
                    
                    
                        </div>
                        <div class="btn-toolbar mb-3">
                            <div class="col-6">
                                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                                    <button *ngIf="this.usuarioBuscado && this.usuarioBuscado.Id > 0 && this.modificaCliente == false"
                                        type="button" class="btn btn-primary" (click)="modificarCliente(true)">Modificar</button>
                                    <button *ngIf="this.modificaCliente" type="button" class="btn btn-primary"
                                        (click)="guardarCliente()">Guardar</button>
                                    <button *ngIf="this.modificaCliente" type="button" class="btn btn-secondary"
                                        (click)="cancelarModificacion()">Cancelar</button>
                                    <button *ngIf="this.botonLimpiarCliente" type="button" class="btn btn-info"
                                        (click)="limpiarCliente()">Limpiar</button>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                                    <button *ngIf="this.listaArriendos.length > 0" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">Ver Arriendos</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- DATOS DE LA FACTURA -->
                <h1 class="display-5" style="font-size: 1.6rem; cursor: pointer;" data-toggle="collapse" title="Mostrar/Ocultar"
                    href="#multiCollapseExample2" aria-expanded="true" aria-controls="multiCollapseExample2">Otros Datos ...</h1>
                <div class="collapse multi-collapse show" id="multiCollapseExample2">
                    <form [formGroup]="formaFactura">
                        <div class="form-row mb-3">
                            <!-- NUMERO FACTURA -->
                            <div class="input-group-md col-md-2">
                                <label for="inlineFormInputGroupUsername">Número Factura</label>
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-lg" id="inlineFormInputGroupUsername"
                                        placeholder="Número" formControlName="nuevoNumeroFactura" maxlength="9">
                                    <!-- esto lo comentamos debido a que no será modificable el numero de factura -->
                                    <!--
                                                      <div *ngIf="!modificaNumeroFactura" class="input-group-prepend" style="cursor: pointer;">
                                                        <div class="input-group-text" (click)="modificarNumeroFactura()">Modificar</div>
                                                      </div>
                                                      <div *ngIf="modificaNumeroFactura" class="input-group-prepend" style="cursor: pointer;">
                                                        <div class="input-group-text" (click)="guardaNumeroFactura()">Guardar</div>
                                                      </div>
                                                    -->
                                </div>
                            </div>
                
                            <!-- NUMERO GUIA -->
                            <div class="input-group-md col-md-2">
                                <label for="inputNumeroGuia">Guia Despacho</label>
                                <input type="number" class="form-control form-control-lg" id="inputNumeroGuia" placeholder="Guia"
                                    formControlName="nuevoNumeroGuia" maxlength="9">
                            </div>
                
                            <!-- CONDICION DE VENTA -->
                            <div class="input-group-md col-md-4">
                                <label for="selectCV">Condición de Venta</label>
                                <select class="form-control form-control-lg" id="selectCV" formControlName="nuevoCV"
                                    (change)="onChangeCV($event)">
                                    <option value="O">Contado/Crédito</option>
                                    <option value="C">Contado</option>
                                    <option value="R">Crédito</option>
                                    <option value="P">Por Cobrar</option>
                                </select>
                            </div>
                            <!-- FECHA -->
                            <div class="input-group-md col-md-4">
                                <label for="inputFecha">Fecha Actual</label><br />
                                <span style="font-size: x-large;">{{this.fechaActual}}</span>
                            </div>
                            <!-- BANCOS -->
                            <div class="input-group-md col-md-4">
                                <label for="inputBanco">Banco</label>
                                <input class="form-control form-control-lg" id="inputBanco" list="listaBancosStr"
                                    formControlName="nuevoBanco" name="listaBancos" />
                                <datalist id="listaBancosStr">
                                    <option *ngFor="let item of listaBancosStr" [value]="item">{{item}}</option>
                                </datalist>
                            </div>
                            <!-- FECHA CHEQUE -->
                            <div>
                                <label for="exampleInputEmail1">Fecha Vencimiento</label>
                                <div class="input-group">
                                    <input class="form-control form-control-lg" matInput [matDatepicker]="picker" [max]="maxDate"
                                        [min]="minDate" formControlName="nuevoVencimiento" placeholder="Fecha vcto"
                                        id="exampleInputEmail1">
                                    <div class="input-group-prepend" style="cursor: pointer;">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                            <!-- NUMERO CHEQUE -->
                            <div>
                                <label for="inputNumeroCheque">Nº Cheque</label>
                                <input type="text" class="form-control form-control-lg" id="inputNumeroCheque"
                                    formControlName="nuevoNumeroCheque" maxlength="50">
                            </div>
                

                
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- PRODUCTOS -->
        <h1 class="display-5" style="font-size: 1.6rem;">Detalle 
            <span style="color: burlywood;font-size: 0.8em;" *ngIf="this.descuentoCliente > 0">&nbsp;Atención este cliente tiene descuento de {{this.descuentoCliente}}%</span>
            <span style="color: burlywood;font-size: 0.8em;" *ngIf="this.listaArriendos.length > 0">&nbsp;Atención este cliente tiene arriendos</span>
            <span style="color: burlywood;font-size: 0.8em;" *ngIf="this.listaPrestamosGuardar.length > 0">&nbsp;Atención este cliente tiene préstamos</span>
        </h1>
        <form [formGroup]="formaDetalle" *ngIf="this.mostrarDetalle">
            <div class="form-row mb-3">
                <!-- CODIGO DETALLE -->
                <div class="input-group-md col-md-2">
                    <label for="inputCodigo">Código</label>
                        <input class="form-control" id="inputCodigo" list="listaCodigosProd" formControlName="nuevoCodigo" name="listaCodigos"
                         (focusout)="keyDowEnterProducto($event, 1)" (keydown)="this.utiles.UpperCaseF($event)" />
                        <datalist id="listaCodigosProd">
                            <option *ngFor="let item of listaCodigosProd" [value]="item.Nombre">{{item.Nombre}}</option>
                        </datalist>
                </div>
                <!-- NOMBRE DETALLE -->
                <div class="input-group-md col-md-3">
                    <label for="inputNombreDetalle">Nombre Producto</label>
<!--                     <input class="form-control" id="inputNombreDetalle" list="listaNombresProd" formControlName="nuevoNombreDetalle" name="listaNombresProd"
                        (focusout)="keyDowEnterProducto($event, 2)" (keydown)="this.utiles.UpperCaseF($event)" />
                    <datalist id="listaNombresProd">
                        <option *ngFor="let item of listaNombresProd" [value]="item.Nombre">{{item.Nombre}}</option>
                    </datalist> -->
                    <input type="text" class="form-control" id="inputNombreDetalle" formControlName="nuevoNombreDetalle" maxlength="200" 
                    (focusout)="keyDowEnterNombreProd($event)"
                    (keydown)="this.utiles.UpperCaseF($event)">
                </div>
                <!-- detalle tiene arriendo -->
                <div class="input-group-md col-md-2" *ngIf="this.detalleTieneArriendo">
                    <label for="inlineFormSelectDias">Días</label>
                    <div class="input-group">
                        <select class="form-control form-control" id="selectDiasArriendoDetalle" formControlName="nuevoDiasArriendoDetalle">
                            <option value="0">0</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                        </select>
                    </div>
                </div>
                <!-- STOCK -->
                <div class="input-group-md col-md-1">
                    <label for="inlineFormInputGroupStock">Stock</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="inlineFormInputGroupStock" formControlName="nuevoStock"
                        min="0" max="1000000">
<!--                         <div *ngIf="!modificaStock" class="input-group-prepend" style="cursor: pointer;">
                            <div class="input-group-text" (click)="modificarNumeroFactura()">Modificar</div>
                        </div>
                        <div *ngIf="modificaStock" class="input-group-prepend" style="cursor: pointer;">
                            <div class="input-group-text" (click)="guardaNumeroFactura()">Guardar</div>
                        </div> -->
                    </div>
                </div>
                <!-- VALOR -->
                <div class="input-group-md col-md-1">
                    <label for="inputValor">Valor</label>
                    <input type="number" class="form-control" id="inputValor" 
                        formControlName="nuevoValor" maxlength="9">
                </div>
                <!-- CANTIDAD -->
                <div class="input-group-md col-md-1">
                    <label for="inputCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="inputCantidad" 
                        formControlName="nuevoCantidad" maxlength="9" >
                </div>
                <!-- MEDIDA -->
                <div class="input-group-md col-md-1">
                    <label for="selectMedida">Medida</label>
                    <select class="form-control" id="selectMedida" formControlName="nuevoMedida" (change)="calculaSubtotal($event)" (focusout)="calculaSubtotal($event)">
                        <option value="UN">UN</option>
                        <option value="M3">M3</option>
                        <option value="Kl">KL</option>
                    </select>
                </div>
                <!-- VOLUMEN -->
                <div class="input-group-md col-md-1">
                    <label for="inputVolumen">Volumen</label>
                    <input type="number" class="form-control" id="inputVolumen" 
                        formControlName="nuevoVolumen" maxlength="9">
                </div>
                <!-- SUBTOTAL -->
                <div class="input-group-md col-md-1">
                    <label for="inputSubtotal">Subtotal</label>
                    <input type="number" class="form-control" id="inputSubtotal" 
                        formControlName="nuevoSubtotal" maxlength="9">
                </div>
                <div class="input-group-md col-md-1" style="padding-top:28px;">
                    <button *ngIf="this.formaDetalle.valid" type="button" class="btn btn-success" (click)="agregarProductoDetalle()">Agregar</button>
                </div>
 
            </div>
        </form>
        
        <!-- lista productos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th scope="col">Artículo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col" class="text-center">Volumen</th>
                    <th scope="col" class="text-right">Precio Unitario</th>
                    <th scope="col" class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody *ngIf="this.listaProductos.length > 0">
                <tr *ngFor="let dett of this.listaProductos">
                    <th>
                        <button type="button" class="btn btn-link" (click)="quitarProductoLista(dett.Id)">Quitar</button>
                    </th>
                    <th>{{ dett.CodProduc }}</th>
                    <th>{{ dett.NomProduc }}</th>
                    <th class="text-center">{{ dett.VolProduc }} {{dett.Unidad}}</th>
                    <th class="text-right">{{ dett.ValProduc | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat }}</th>
                    <th class="text-right">{{ dett.Subtotal | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat }}</th>
                </tr>
            </tbody>
            <tfoot *ngIf="this.listaProductos.length > 0">
                <!--
                <tr style="color: #5a5a5a;">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Descuento</th>
                    <th class="text-right">{{this.sumarDescuentos() | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th>
                </tr>
            -->
                <tr style="color: #5a5a5a;">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>NETO</th>
                    <th class="text-right">{{this.sumarNetosN() | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th>
                </tr>
                <tr style="color: #5a5a5a;">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>IVA</th>
                    <th class="text-right">{{this.ivaDetalle() | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th>
                    <!-- <th class="text-right">{{this.calculaImpuesto(this.facturaSeleccionada.ValFactur, this.sumarNetos(this.detalleSeleccionado)) | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th> -->
                </tr>
                <tr style="color: #5a5a5a;">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>TOTAL</th>
                    <th class="text-right">{{this.sumaTotal() | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th>
                    <!-- <th class="text-right">{{this.facturaSeleccionada.ValFactur | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th> -->
                </tr>
            </tfoot>
        </table>
        <div class="row" >
            <div class="col-6" style="float: left;">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenterP" *ngIf="prestamosAgregados.length > 0 || listaPrestamosGuardar.length > 0">Administrar Préstamos</button>
            </div>
            <div class="col-6" style="text-align: right;">
                <button type="button" class="btn btn-info" (click)="limpiarTodo()" style="margin-right: 5px;">Limpiar Todo</button>
                <button type="button" class="btn btn-primary" (click)="guardarTodo()">Guardar Venta</button>
            </div>

        </div>
    
</div>
</section>
<!-- modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 70%;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Arriendos</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        
            <label for="selectCV">Ingrese cantidad días</label>
            <select class="form-control form-control-lg" id="selectDiasArriendo" (change)="onChangeDiasArriendo($event)">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="90">90</option>
                <option value="120">120</option>
            </select>
        
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Artículo</th>
                        <th scope="col" class="text-center">Fecha</th>
                        <th scope="col" class="text-right">Cantidad</th>
                        <th scope="col" class="text-right">Valor</th>
                        <th scope="col" class="text-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let arr of this.listaArriendos">
                        <th>{{ arr.ProArrien }}</th>
                        <th>{{ arr.Nombre }}</th>
                        <th class="text-center">{{ arr.FecArrien }}</th>
                        <th class="text-right">{{ arr.CanArrien }}</th>
                        <th class="text-right">{{ arr.ValArrien | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat }}
                        </th>
                        <th class="text-right">{{ arr.Neto | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat }}</th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="color: #5a5a5a;">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">{{this.cantidadArriendos}}</th>
                        <th></th>
                        <th class="text-right">
                            {{ this.totalArriendos | currency : 'CLP' :'symbol-narrow':'3.0' | currencyFormat}}</th>
                    </tr>
                </tfoot>
            </table>
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 5px;">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarArriendosVenta()">Agregar los Arriendos a la venta!</button>
    
        </div>
    </div>
  </div>
</div>

<!-- modal prestamos -->
<div class="modal fade" id="exampleModalCenterP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 90%;">
    <div class="modal-content" style="width: auto;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Préstamos &nbsp;</h5>
            <h5 *ngIf="this.usuarioBuscado" class="modal-title" id="exampleModalLongTitle"> para el cliente {{this.usuarioBuscado.NomClient }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <legend>Productos en la Venta</legend>
                    <span class="nota-class">Estos productos son suceptibles a préstamos, seleccione de la lista y luego llene los datos de la derecha</span>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Artículo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pres of this.prestamosAgregados" style= "cursor: pointer;" (click)="seleccionarPrestamo(pres)">
                                <th>{{ pres.CodProduc }}</th>
                                <th>{{ pres.NomProduc }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>    
                <div class="col-6">
                    <legend>Ingrese los datos</legend>
                    <span class="nota-class">Ingrese los datos solicitados, debe seleccionar un producto del listado izquierdo.</span>
                    <form [formGroup]="formaPrestamo">
                        <div class="form-row mb-3">
                            <!-- CODIGO DETALLE -->
                            <div class="input-group-md col-md-3">
                                <label for="inputCodigoPrestamo">Código</label>
                                <input class="form-control" id="inputCodigoPrestamo" formControlName="nuevoCodigoPrestamo"/>
                            </div>
                            <!-- NOMBRE PRODUCTO -->
                            <div class="input-group-md col-md-9">
                                <label for="inputNombrePrestamo">Nombre Producto</label>
                                <input class="form-control" id="inputNombrePrestamo" formControlName="nuevoNombrePrestamo"/>
                            </div>
                            <!-- CAPACIDAD -->
                            <div class="input-group-md col-md-4">
                                <label for="inputCapacidadPrestamo">Capacidad</label>
                                <input type="number" class="form-control" id="inputCapacidadPrestamo" formControlName="nuevoCapacidadPrestamo" />
                            </div>
                            <!-- NUMERO SERIE -->
                            <div class="input-group-md col-md-8">
                                <label for="inputSeriePrestamo">Número Serie</label>
                                <input type="text" class="form-control" id="inputSeriePrestamo" formControlName="nuevoSeriePrestamo" />
                            </div>
                            <!-- FECHA -->
                            <div class="input-group-md col-md-3">
                                <label for="inputFechaPrestamo">Fecha</label>
                                <input type="text" class="form-control" id="inputFechaPrestamo" formControlName="nuevoFechaPrestamo" />
                            </div>
                            <!-- MEDIDA -->
                            <div class="input-group-md col-md-7">
                                <label for="selectMedida">Estado</label>
                                <select class="form-control" id="selectEstadoPrestamo" formControlName="nuevoEstadoPrestamo">
                                    <option value="0">Pendiente</option>
                                    <option value="1">Devuelto</option>
                                </select>
                            </div>
                            <!-- lleno -->
                            <div class="input-group-md col-md-2">
                                <label for="selectMedida">Estado</label>
                                <select class="form-control" id="selectLlenoPrestamo" formControlName="nuevoLlenoPrestamo">
                                    <option value="0">Vacio</option>
                                    <option value="1">Lleno</option>
                                </select>
                            </div>
                            <!-- OBSERVACIONES -->
                            <div class="input-group-md col-md-12">
                                <label for="inputObservacionesPrestamo">Observaciones</label>
                                <input type="text" class="form-control" id="inputObservacionesPrestamo" formControlName="nuevoObservacionesPrestamo" />
                            </div>

                        </div>
                        <div class="row" style="float: right;padding-right: 20px;">
                            <button type="button" class="btn btn-primary" (click)="agregarPrestamoGuardar()">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
            <legend>Prestamos agregados</legend>
            <span class="nota-class">Estos préstamos serán agregados, posteriormente en el Mantenedor de préstamos podrá editarlos.</span>
            <table class="table table-bordered table-sm" style="font-size: small;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Artículo</th>
                        <th scope="col" class="text-center">Factura</th>
                        <th scope="col" class="text-center">F. Entrega</th>
                        <th scope="col" class="text-center">F. Devolución</th>
                        <th scope="col" class="text-center">Estado</th>
                        <th scope="col" class="text-right">N° Serie
                        </th>
                        <th></th>
                        <th scope="col" class="text-right">Capacidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pres of this.listaPrestamosGuardar">

                            <th *ngIf="pres.Eliminado == 0">
                                <button *ngIf="pres.Id == 0" type="button" class="btn btn-link" (click)="quitarPrestamoGuardar(pres.Indice)">Quitar</button>
                                <button *ngIf="pres.Id > 0 && pres.Estado == 0" type="button" data-toggle="modal" data-target="#exampleModalCenterD" class="btn btn-link" (click)="abrirModalPrestamoDevolver(pres)">Devolver</button>
                            </th>
                            <th *ngIf="pres.Eliminado == 0">{{ pres.Codigo }}</th>
                            <th *ngIf="pres.Eliminado == 0">{{ pres.Nombre }}</th>
                            <th *ngIf="pres.Eliminado == 0" class="text-center">{{ pres.NroFactura }}</th>
                            <th *ngIf="pres.Eliminado == 0" class="text-center">{{ pres.FechaPrestamo }}</th>
                            <th *ngIf="pres.Eliminado == 0" class="text-center">{{ pres.FechaDevolucion }}</th>
                            <th *ngIf="pres.Eliminado == 0" class="text-center">{{ pres.EstadoStr }}</th>
                            <th *ngIf="pres.Eliminado == 0" class="text-right">{{ pres.NroSerie }}</th>
                            <th *ngIf="pres.Eliminado == 0" class="text-center">
                                <i *ngIf="pres.EsLLeno == 0" class="fas fa-battery-empty"></i>
                                <i *ngIf="pres.EsLLeno == 1" class="fas fa-battery-full"></i>
                            </th>
                            <th *ngIf="pres.Eliminado == 0" class="text-right">{{ pres.Capacidad }} M3
                            </th>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 5px;">Cerrar</button>

        </div>
    </div>
  </div>
</div>

<!-- modal devolver -->
<div class="modal fade" id="exampleModalCenterD" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Devolver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- contenido del modal devolver -->
                <form [formGroup]="formaDevolver">
                    <div class="form-row mb-3">
                        <!-- CODIGO DETALLE -->
                        <div class="input-group-md col-md-7">
                            <label for="inputCodigoDevolver">Código</label>
                            <input class="form-control" id="inputCodigoDevolver" formControlName="nuevoCodigoDevolver" />
                        </div>
                        <!-- FECHA -->
                        <div class="input-group-md col-md-4">
                            <label for="inputFechaDevolver">Fecha</label>
                            <input class="form-control" id="inputFechaDevolver" formControlName="nuevoFechaDevolver" />
                        </div>
                        <!-- lleno -->
                        <div class="input-group-md col-md-2">
                            <label for="selectMedida">Estado</label>
                            <select class="form-control" id="selectLlenoDevolver" formControlName="nuevoLlenoDevolver">
                                <option value="0">Vacio</option>
                                <option value="1">Lleno</option>
                            </select>
                        </div>
                        <!-- OBSERVACIONES -->
                        <div class="input-group-md col-md-10">
                            <label for="inputObservacionesDevolver">Observaciones</label>
                            <input class="form-control" id="inputObservacionesDevolver" formControlName="nuevoObservacionesDevolver" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 5px;">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="this.devolverPrestamo()">Devolver!</button>
        
            </div>

        </div>
    </div>

</div>
