<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

<div class="body">
    <header-gajico-app [paginaActiva]="'nosotros'"></header-gajico-app>
    <div class="main">

        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Gajico <span class="text-muted">Ltda.</span></h2>
                    <p class="lead text-justify">Somos una empresa dedicada al rubro de los gases industriales, soldauras, abrasivos, equipos, maquinas de soldar, servicio técnico y asesorias para distintos tipos de clientes en distintas industrias, tales como,  metalurgicas, distintos tipos de talleres, maquinarias de construcción, restaurantes, clinicas dentales y particulares entre otros.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/imgs/soldando.svg" alt="abrasivos" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%" height="100%"/>
                </div>
            </div>
        
            <!-- <hr class="featurette-divider"> -->

            <div class="row featurette">
              <div class="col-md-12">
                <h2 class="featurette-heading">Historia</h2>
                <p class="lead text-justify">
                  Con más de 45 años vida GAJICO Ltda. es  de empresa que con una laraga tradición en la calidad de servicio y cercania con sus clientes desde 1975.
                </p>
                <p class="lead text-justify">
                  Ya en los años 80 adquieren un pequeño local y al poco andar ​se consolidan como una pequeña empresa que sabia lo que hacia y con un sentido de oportunidad del servicio, entregando a sus clientes soluciones de calidad en un corto tiempo y con un alto grado de satisfacción, que permitió ampliar las dependencias en la que hoy han forjado y pereccionado su quehacer en torno a compra y distribusión de Gases Industriales, Soldaduras, Abrasivos, Equipos y el Servicio Técnico de Maquinas Soldadoras y Asesorias relacionadas con el rubro.
                </p>
                <p class="lead text-justify">
                  Con una fuerte orientación al servicio se caracterizan por encontrar la mejor solución, repuestos y servicios que necesiten y enetregarlo en el menos tiempo posible.
                </p>
              </div>
            </div>
            <hr class="featurette-divider">
        </div>

        <footer-gajico-app></footer-gajico-app>
    </div>
</div>