<div class="main">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  
    <div class="container">
      <div style="text-align: center; color: azure;">({{ambiente}})</div>
        <div class="col-sm d-block d-sm-none text-center">
            <!-- <i class="fa fa-user fa-4x user"></i> -->
            <h5 class="user">Bienvenido a Gajico Ltda.&nbsp;<span>{{ambiente}}</span> </h5>
            <h6 class="user">Ingrese sus credenciales</h6>
        </div>
      <!-- <center> -->
        <div class="middle">
  
          <div id="login" class="col-sm">
  
            <form action="javascript:void(0);" method="get">
  
              <fieldset class="clearfix">
  
                <p>
                  <span class="fa fa-user"></span>
                  <!--<input type="text" Placeholder="Username" [(ngModel)]="loginUsuario" required>-->
                  <input [(ngModel)]="loginUsuario"  name="loginUsuario" type="text" placeholder="Usuario">
                </p>
                <!-- JS because of IE support; better: placeholder="Username" -->
                <p>
                  <span class="fa fa-lock"></span>
                  <!--<input type="password" Placeholder="Password" [(ngModel)]="loginContrasena" required>-->
                  <input [(ngModel)]="loginContrasena"  name="loginContrasena" type="password" class="form-control" placeholder="Contraseña">
                </p>
                <!-- JS because of IE support; better: placeholder="Password" -->
  
                <div>
                  <span style="width:45%; text-align:right;  display: inline-block;">
                      <input type="submit" value="Cancelar" [routerLink]="['../home']">
                      <!-- <a class="nav-link" [routerLink]="['../home']">Cancelar</a> -->
                  </span>
                  <span style="width:45%; text-align:right;  display: inline-block;">
                    <input type="submit" value="Ingresar"  (click)="IniciarSesionDos()" (key.up)="IniciarSesionDos()">
                  </span>
                </div>
  
              </fieldset>
              <div class="clearfix"></div>
            </form>
  
            <div class="clearfix"></div>
  
          </div>
          <!-- end login -->
          <div class="logo col-sm d-none d-sm-block">
            Gajico Ltda.<br>
            <span class="sub-user">Ingrese sus credenciales</span>
  
            <div class="clearfix"></div>
          </div>
  
        </div>
      <!-- </center> -->
    </div>
  
  </div>
  