.carousel-indicators{
  display: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-prev {
  left: -8rem;
}
.carousel-control-next {
  right: -8rem;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #81b667;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #81b667;
}

@media (max-width: 768px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}