/* You can add global styles to this file, and also import other style files */

@import 'assets/bootstrap.min.css';

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    color: #78C2AD;
  }
  .afu-upload-btn{
    display: none;
  }

