<app-header-app></app-header-app>

  <section class="container-app">
  
    <div class="row" style="padding:2%; width: 100%;">
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#43a047;" (click)="abrirFacturas()">
          <!-- <img class="card-img-top" src="./assets/img/user.png" alt="Card image cap"> -->
          <i class="fa fa-cart-arrow-down fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Ventas</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#c5e1a5"  (click)="abrirCompras()">
          <i class="fa fa-list fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Compras</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#a5d6a7" (click)="abrirClientes()">
          <i class="fa fa-users fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Clientes</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#81c784" (click)="abrirProveedores()">
          <i class="fa fa-id-card-alt fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Proveedores</h1>
          </div>
        </div>
      </div>
    
    
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;">
          <i class="fa fa-truck-moving fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Arriendos</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#4caf50;" (click)="abrirProductos()">
          <i class="fa fa-shopping-cart fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Productos</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#66bb6a;" (click)="abrirConfig()">
          <i class="fa fa-wrench fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Configuraciones</h1>
          </div>
        </div>
    
      </div>

      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;">
          <i class="fa fa-exclamation fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Alertas</h1>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;" (click)="abrirPrestamos()">
          <i class="fa fa-dolly fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Préstamos</h1>
          </div>
        </div>
      </div>

    </div>
  
  </section>


